body {
    color-scheme: dark;
    background-color: rgb(20, 20, 20);  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(200,200,200);      
    line-height: 1.5;   
    margin: 0px 25px 25px;
}

h1,
h2,
h3 {
    border-bottom: 1px solid lightgray;
}

code {
    background-color: #2A3439;
    border-radius: 6px;
    padding: 0.1em;
}

.table-of-content {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
    
}

.table-of-content a {
    text-decoration: none;
    color: dodgerblue;
    transition: 0.5s;
}

.table-of-content :hover {    
    color: #8fc8ff;
}